<template>
  <carousel :items-to-show="3.5" :pagination="false" ref="myCarousel">
    <slide v-for="slide in slides" :key="slide.id">
      <div class="card carousel__item">
        <div class="card--content">
          <h2>
            {{ slide.year_range }}
          </h2>
          <h3>
            {{ slide.title }}
          </h3>
          <p>
            {{ slide.body }}
          </p>
        </div>

        <img
          class="card__image"
          :src="slide.thumbnail.url"
          :alt="slide.title"
        />
      </div>
    </slide>

    <template #addons>
      <navigation />
      <pagination />
    </template>
  </carousel>
  <button type="button" @click="slideToBeginning">to beginning</button>
  <button type="button" @click="slideToFortyYear">1940-1960</button>
  <button @click="slideToCurrentYear">1960-current</button>
</template>

<script>
// If you are using PurgeCSS, make sure to whitelist the carousel CSS classes
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide, Navigation } from "vue3-carousel";
import { ref } from "vue";

export default {
  name: "App",
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  data: () => ({
    // carousel settings
    settings: {
      itemsToShow: 4,
    },
    // breakpoints are mobile first
    // any settings not specified will fallback to the carousel settings
    breakpoints: {
      700: {
        itemsToShow: 3.5,
        snapAlign: "center",
      },
      1024: {
        itemsToShow: 5,
        snapAlign: "start",
      },
    },
  }),
  setup() {
    const myCarousel = ref(null);

    const slideToBeginning = () => myCarousel.value.slideTo(0);

    const slideToFortyYear = () => {
      const fortyYear = slides.find((item) => item.year_range === "1940-1960");
      const fortyYearId = fortyYear.id;
      console.log(fortyYearId);
       myCarousel.value.slideTo(fortyYearId)
    };

    const slideToCurrentYear = () => {
      const currentYear = slides.find((item) => item.year_range === "1980-current");
      const currentYearId = currentYear.id;
      console.log(currentYearId);
      myCarousel.value.slideTo(currentYearId)
    };

    const slides = [
      {
        year_range: "1920-1940",
        id: 1,
        title: "AAA1",
        body: "Lorem ipsum 1",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×400/?history",
        },
      },
      {
        year_range: "1920-1940",
        id: 3,
        title: "AAA1",
        body: "Lorem ipsum 2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×400/?history",
        },
      },
      {
        year_range: "1920-1940",
        id: 4,
        title: "AAA1",
        body: "Lorem ipsum 3",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×400/?history",
        },
      },
      {
        year_range: "1920-1940",
        id: 5,
        title: "AAA5",
        body: "Lorem ipsum 1",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×400/?history",
        },
      },
      {
        year_range: "1940-1960",
        id: 2,
        title: "AAA2",
        body: "Lorem ipsum2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×400/?history",
        },
      },
      {
        year_range: "1940-1960",
        id: 7,
        title: "AAA2",
        body: "Lorem ipsum2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/700×400/?history",
        },
      },
      {
        year_range: "1940-1960",
        id: 8,
        title: "AAA2",
        body: "Lorem ipsum2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×400/?history",
        },
      },
      {
        year_range: "1940-1960",
        id: 9,
        title: "AAA2",
        body: "Lorem ipsum2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×400/?history",
        },
      },
      {
        year_range: "1980-current",
        id: 11,
        title: "AAA2",
        body: "Lorem ipsum2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×500/?history",
        },
      },
      {
        year_range: "1980-current",
        id: 12,
        title: "AAA2",
        body: "Lorem ipsum2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×500/?history",
        },
      },
      {
        year_range: "1980-current",
        id: 13,
        title: "AAA2",
        body: "Lorem ipsum2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×500/?history",
        },
      },
      {
        year_range: "1980-current",
        id: 14,
        title: "AAA2",
        body: "Lorem ipsum2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×500/?history",
        },
      },
      {
        year_range: "1980-current",
        id: 15,
        title: "AAA2",
        body: "Lorem ipsum2",
        media: [
          {
            type: "image",
            url: "https://image.jpg",
          },
          {
            type: "remote_video",
            url: "https://youtube.com",
          },
        ],
        thumbnail: {
          type: "image",
          url: "https://source.unsplash.com/random/600×500/?history",
        },
      },
    ];

    return {
      myCarousel,
      slideToBeginning,
      slideToFortyYear,
      slideToCurrentYear,
      slides,
    };
  },
};
</script>

<style scoped>
.card__image {
  max-width: 250px;
  height: 100%;
  object-fit: cover;
}


.carousel__slide--next > .carousel__item {
  transform: scale(0.9) translate(-25px) opacity(.8);
}

.carousel__slide--next > .carousel__item:before {
   content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(to left, white 190px, transparent);
}

</style>